@import "../../../styles/variables.module";

.search-product {
    display: grid;
    grid-gap: 25px;

    &__row {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    }

    &__title {
        composes: search-product__row;
        font-weight: 600;
        color: $primary-color;

        //@media (max-width: $tablet) {
        //    display: none;
        //}
    }


    &__setting {
        display: grid;

    }

    &__input {
        max-width: 300px;

        border: 1px solid $neutral-400;
        border-radius: 18px;
        background-color: $neutral-100;
        color: $primary-color;
        font-size: 13px;
        font-weight: 800;
        padding: 12px 15px 12px 38px;
        transition: 0.5s;
        margin-bottom: 15px;

        //background-image: url("/src/assets/images/interface/search.svg");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center left 10px;

        &::placeholder {
            color: $neutral-500;
        }

        &:focus {
            // Ширина контента по Grid
            max-width: max(1024px / 4 * 3);
        }

        @media (max-width: $tablet) {
            max-width: none;
        }
    }

    &-button {
        width: 50px;
        justify-self: start;
    }


    &__block {
        display: grid;

        &-item {
            color: $primary-color;
            padding: 25px;
            border-bottom: solid 2px $neutral-300;
            //align-items: center;
            display: grid;

            &-title {
                overflow: hidden;
                white-space: nowrap;

                & p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-weight: 600;
                }
            }


            &-attribute {
                display: grid;
                grid-template-columns: 1fr 1fr;

                &-price {
                    display: flex;
                    column-gap: 5px;
                }

                & p:first-child {
                    color: $neutral-600;
                }

                & p:last-child {
                    justify-self: right;
                    font-weight: 500;

                    &:first-letter {
                        text-transform: uppercase;
                    }
                }
            }

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background-color: $neutral-200;
            }
        }
    }

    &__action {
        $icon-size: 20px;

        display: grid;
        grid-template-columns: repeat(3, $icon-size);
        justify-self: center;
        grid-gap: 8px;

        &-icon {
            height: $icon-size;
            width: $icon-size;
            background-size: $icon-size;
            background-repeat: no-repeat;
            cursor: pointer;
            opacity: 0.40;
            transition: 0.2s;

            &:hover {
                opacity: 1;
            }
        }

        &-search {
            composes: search-product__action-icon;
            //background-image: url("src/assets/images/interface/find.svg");

        }

        &-edit {
            composes: search-product__action-icon;
            //background-image: url("src/assets/images/interface/edit.svg");

        }

        &-trash {
            composes: search-product__action-icon;
            //background-image: url("src/assets/images/interface/trash.svg");
        }
    }
}