@import "../../../../../styles/variables.module";

.menu-panel__category {
    &-title {
        padding: 15px 20px;
        margin: 15px 0;
        font-size: 22px;
        font-weight: 400;
        border-bottom: 1px solid $neutral-400;
    }

    &-list {
        padding: 0;
        display: grid;
        row-gap: 5px;

        &_active {
            font-weight: 600;
            background-color: $neutral-300;
            color: $primary-color;
            border-radius: 15px;
        }

        &-li {
            display: grid;
            grid-template-columns: calc(25px + (2 * 15px)) auto; // 25px-icon + 2*15px-padding
            align-items: center;
            padding: 15px 0;
            cursor: pointer;
            list-style-type: none;
            color: $primary-color;

            &:hover {
                background-color: $neutral-300;
                color: $primary-color;
                border-radius: 15px;
            }

            &:before {
                content: "";
                position: relative;
                float: left;
                margin: 0 15px;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }


        &-li_show {
            composes: menu-panel__category-list-li;

            &:before {
                background-image: url("file-show.svg");
            }
        }

        &-li_add {
            composes: menu-panel__category-list-li;

            &:before {
                background-image: url("file-add.svg");
            }
        }

    }
}

