@import "../../../styles/variables.module";

.panel {
    display: grid;
    //grid-template-columns: 1fr 3fr;
    grid-template-columns: 1fr;
    padding: 20px;

    @media (max-width: $tablet) {
        padding: 0;
        grid-template-columns: 1fr;
    }
}